name: Final Video Editor

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install System Tools
      run: |
        sudo apt-get update
        sudo apt-get install -y ffmpeg fonts-dejavu
        pip install requests

    - name: Run Python Editor
      env:
        PEXELS_API_KEY: ${{ secrets.PEXELS_API_KEY }}
      run: python main.py

    - name: Get Video Link
      run: |
        echo "------------------------------------------------"
        echo "CLICK THE LINK BELOW TO VIEW VIDEO:"
        curl https://bashupload.com/output.mp4 --data-binary @output.mp4
        echo -e "\n------------------------------------------------"

    - name: Save Artifact
      uses: actions/upload-artifact@v4
      with:
        name: my-video
        path: output.mp4
